.popup__box{
    /* border: 1px solid red; */
    display: block;
    position: relative;
    top: auto;
    left: auto;
}

@media screen and (max-width:320px){
    .popup__box{
        width: 240px;
        height: 299px;
    }
}