.element__like-button {
  width: 20px;
  height: 19px;
  background: rgba(255, 255, 255, 0) url("../../../images/heart.svg") no-repeat;
  background-size: contain;
  border: none;
  margin: 32px 18px 0 auto;
  transition: transform 0.2s, opacity 0.2s;
}

.element__like-button:hover {
  cursor: pointer;
  transform: scale(1.2);
  opacity: 0.6;
}
